# Node modules
node_modules/

# Cypress artifacts
cypress/screenshots/
cypress/videos/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# IDE-specific files
.vscode/
.idea/


